extends layout.jade

block head
  link(rel='stylesheet', href='/assets/css/logo.min.css')

block body
  .jumbotron
    .container-fluid
      .row
        .col-md-4
          img.img-responsive(src='/assets/img/logo-plain.png')
        .col-md-8
          h1: include logo.jade
          h1
            span.icon.icon_vk-clear
            |  audio sync
          p
            = __('slogan')

  .container
    .row
      .col-sm-8.col-sm-push-4
        include columns/news.jade
      .col-sm-4.col-sm-pull-8
        include columns/files.jade
        include columns/links.jade