extends layout.jade

block head
  link(rel='stylesheet', href='/assets/css/logo.min.css')

block body
  .jumbotron
    .container-fluid
      .row
        .col-md-4
          img.img-responsive(src='/assets/img/logo-plain.png')
        .col-md-8
          h1: include logo.jade
          p vk a sync
          p
            = __('slogan')

  .container
    p
      a(class='btn btn-default btn-lg', download, type='application/vnd.android.package-archive', href='//jikopster.org/apk/org.jikopster.vkasync.1.7.4.19.apk')
        = __('Download')
        br
        small
          = __('apk')