.letter.letter8
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
.letter.letter4
	.dot .
	.dot .
	.dot: .r .
	.dot: .r .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .r .
	.dot: .r .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .r .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
.letter.letter8
	.dot .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
.letter.letter8
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
.letter.letter8
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
.letter.letter8
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
.letter.letter6
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
.letter.letter8
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
.letter.letter7
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot: .b .
	.dot: .b .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
	.dot .
