html,
body {
/*
  background: #5196F3;
  color: white;
*/
}

.jumbotron {
/*  background: none;*/
}

.jikopster {
  line-height: 0.18;
}

.jumbotron img {
  margin: 0 auto;
}

.jumbotron {
  text-align: center;
}