html,
body {
/*
  background: #5196F3;
  color: white;
*/
}

.jumbotron {
/*  background: none;*/
}

.jikopster {
  line-height: 0.18;
}

.jumbotron img {
  margin: 0 auto;
}

.jumbotron {
  text-align: center;
}

.icon.social {
  font-size: 48px;
}
.lang {
  line-height: 3.1;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  width: 46px;
  height: 46px;
  display: inline-block;
}
.rotor {
  transition: transform 0.5s;
}
.rotor:hover {
  transform: rotate(-345deg);
}

.img-responsive {
  margin: auto;
}