html,
body {
/*
  background: #5196F3;
  color: white;
*/
}

.jumbotron {
/*  background: none;*/
}

.jikopster {
  line-height: 0.18;
}

.jumbotron img {
  margin: 0 auto;
}

.container-fluid,
.container-fluid * {
  text-align: center;
}

.btn {
  border-color: white !important;
  box-shadow: none !important;
}
.btn,
.btn:focus {
  background: none;
  color: white;
}
.btn:hover,
.btn:active {
  background: white !important;
  color: #5196F3;
}

.nav-pills {
  text-transform: uppercase;
  display: inline-block !important;
}
.nav-pills > li > a:not(:hover):not(:focus) {
  color: white;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
