extends layout.jade

block title
  = __('Downloads')
  | 
  .label.label-success.label-sm
    span.icon.icon_android
    |  2.3+

mixin item(v)
  a.btn.btn-lg.btn-block.btn-default(href='http://apk.jikopster.org/org.jikopster.vkasync.#{v}.apk', download type='application/vnd.android.package-archive')
    span.icon.icon_download
    | 
    = v
  | 

block content
  +item('1.10.1.23')
  +item('1.7.4.19')