mixin link(title, href)
  a.rotor(href=href,title=__(title))
    block

mixin social(title, name)
  +link(title, 'https://'+name+'.com/jikopster')
    span.social.icon(class='icon_'+name)
      span.sr-only
        = __(title)

mixin lang(name)
  +link(__(name), '?'+locales.param+'='+name)
    span.lang
      = __(name)
      if name == locale
        span.sr-only (current)

extends layout.jade

block title
  span.text-center
    a(href='//jikopster.org',title='Jikopster Orglobster')
      span.sr-only Jikopster
      img.img-responsive(src='/assets/img/jikopster-28p.png',alt='Jikopster')

block content
  p.text-center
    +social('GitHub', 'github')
    +social('vk', 'vk')
    each l in locales
      +lang(l)