extends layout.jade

block body

  .jumbotron
    .container-fluid
      .row
        .col-sm-4
          img.img-responsive(src='/assets/img/logo-plain.png')
        .col-sm-8
          h1: include logo.jade
          h1
            span.icon.icon_vk-clear
            |  audio sync
          p
            = __('slogan')

  .container
    .row
      .col-sm-7.col-sm-push-5.col-md-8.col-md-push-4
        #news
          include columns/news.jade
      .col-sm-5.col-sm-pull-7.col-md-4.col-md-pull-8
        #downloads
          include columns/files.jade
        include columns/links.jade