doctype html
// Jikopster wuz here
html(lang=locale)
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  
  block title
    title vk audio sync by Jikopster

  meta(name='description', content=__('slogan'))
  link(rel='stylesheet', href='/assets/css/styles.min.css')
  
  block head
  
  block body