.jikopster
	.letter.letter8
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
	.letter.letter4
		.pix .
		.pix .
		.pix: .r .
		.pix: .r .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .r .
		.pix: .r .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .r .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
	.letter.letter8
		.pix .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
	.letter.letter8
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
	.letter.letter8
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
	.letter.letter8
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
	.letter.letter6
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
	.letter.letter8
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
	.letter.letter7
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix: .b .
		.pix: .b .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .
		.pix .

script.
	document.getElementsByClassName("jikopster")[0].addEventListener('mouseout', function(e) {
		e = e || window.event
		var target = e.target || e.srcElement
		if (target.className == "b")
			target.className += " round"
	})
